node_modules
.vscode

tmp/*
!tmp/.gitkeep

!tmp/files/
tmp/files/*
!tmp/files/.gitkeep

!tmp/files/user
tmp/files/user/*
!tmp/files/user/.gitkeep

!tmp/files/user/document
tmp/files/user/document/*
!tmp/files/user/document/.gitkeep

!tmp/files/user/document_back
tmp/files/user/document_back/*
!tmp/files/user/document_back/.gitkeep

!tmp/files/user/portaria
tmp/files/user/portaria/*
!tmp/files/user/portaria/.gitkeep

!tmp/files/athlete
tmp/files/athlete/*
!tmp/files/athlete/.gitkeep

!tmp/files/athlete/document
tmp/files/athlete/document/*
!tmp/files/athlete/document/.gitkeep

!tmp/files/athlete/document_back
tmp/files/athlete/document_back/*
!tmp/files/athlete/document_back/.gitkeep

!tmp/files/athlete/picture
tmp/files/athlete/picture/*
!tmp/files/athlete/picture/.gitkeep

!tmp/files/athlete/authorization
tmp/files/athlete/authorization/*
!tmp/files/athlete/authorization/.gitkeep

.env

dist

ormconfig.js
